<table mdbTable hover="true" borderless="true" class="amber lighten-3" style="margin-top: 80px">
  <thead class="amber accent-4 border border-0 border-dark">
  <tr>
    <th>Nazwa</th>
    <th>Cena</th>
    <th></th>
    <th>Składniki</th>
  </tr>
  </thead>
  <tbody class="border border-0 border-dark">
  <tr mdbTableCol *ngFor="let dish of dishes"  class="border border-0 border-dark">
    <td>{{dish.name}}</td>
    <td>{{dish.price}}</td>

    <td><button mdbBtn color="light" (click)="addToCart(dish)" size="sm" mdbWavesEffect type="button" class="m-0 amber lighten-2  ">Do koszyka</button></td>
    <td><a *ngFor="let ingredients of dish.basicIngredients">{{ingredients.name}}, </a></td>
  </tr>
  </tbody>
</table>
