<!--Navbar-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark red darken-4">
  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="/home">Русская пиццерия</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/menu">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/makeOrder">Koszyk</a>
      </li>

      <!-- Dropdown -->

    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-0">
        <li class="nav-item dropdown red darken-4" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle red darken-4 " mdbWavesEffect>
            Admin<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary red accent-5" role="menu">
            <a class="dropdown-item  red accent-5" mdbWavesEffect routerLink="/clients">Klienci</a>
            <!--div class="divider dropdown-divider"></div-->
            <a class="dropdown-item  red accent-5" mdbWavesEffect routerLink="/addresses">Adresy</a>
            <a class="dropdown-item  red accent-5" mdbWavesEffect routerLink="/logs">Logi</a>
            <a class="dropdown-item  red accent-5" mdbWavesEffect routerLink="/queries">Zapytania</a>
          </div>
        </li>
    </ul>

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
