<table mdbTable hover="true" borderless="true" class="amber lighten-3" style="margin-top: 80px">
  <thead class="amber accent-4 border border-0 border-dark">
  <tr>
    <th>Nazwa</th>
    <th>Cena</th>
    <th>Usuń</th>
    <th>Dodaj składniki</th>
  </tr>
  </thead>
  <tbody>
  <tr mdbTableCol *ngFor="let dish of dishesInCart">
    <td>{{dish.name}}</td>
    <td>{{dish.price}}</td>
    <td><button mdbBtn color="red" (click)="removeFromCart(dish)" size="md" mdbWavesEffect type="button" class="m-0">-</button></td>
    <td><button mdbBtn color="green" (click)="basicModal.show()" size="md" mdbWavesEffect type="button" class="m-0">+</button></td>

  </tr>
  <tr>
<td></td>
    <td colspan="1" align="right"><b>Łączna cena zamówienia:</b></td>
    <td colspan="2"><b>{{overallPrice}}</b></td>
  </tr>
  </tbody>
</table>

<a align="center"><button mdbBtn type="button" color="red" block="true"   mdbWavesEffect (click)="makeOrder()">Złóż zamówienie</button></a>
<h1></h1>

<div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Dodatkowe składniki</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save!</button>
      </div>
    </div>
  </div>
</div>
