<div class="img-fluid" style="background-image: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/03/22/14/istock-500078504.jpg);background-attachment: fixed; height: 836px;">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 836px">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
              <h2 class="h1 display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">Русская <div class="yellow-text font-bold">пиццерия</div></h2>
</div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center mb-5">
      <h2 class="h1 font-bold light-blue-text my-5">Historia pizzy</h2>
      <p align="justify">

        Historia pizzy rozpoczęła się w starożytnej Grecji. Dopiero póżniej pieczony placek z ziołami przywłaszczyli sobie Rzymianie i nadali mu odpowiednia nazwę. A na końcu wędrówki pizzy byli Amerykanie, którzy to stworzyli swoją wersję "na bogato".

        Pizza swoje początki ma w starożytnej Grecji. Wówczas mieszkańcy tego państwa raczyli się płaskimi chlebami posmarowanymi oliwą, czosnkiem i posypanymi świeżymi lub suszonymi ziołami. Ten placek zrobił furorę wśród Rzymian, którzy po podbiciu Grecji  fascynowali się nie tylko grecką kulturą, religią, sztuką i nauką, ale też helleńskimi kulinariami. Przenieśli sztukę wypiekania płaskich placków (wtedy raczej przygotowywanych na naturalnym zakwasie, a nie na drożdżach - jak ma to miejsce dzisiaj) do siebie i nazwali focaccią.




      <p>
  </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>


<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <h2 class="h1 font-bold grey-text mb-5">W XVII wieku, kiedy...</h2>
      <p align="justify">to do Europy sprowadzono pomidory, to warzywa te natychmiast pojawiły się na chrupiącym cieście. Najchętniej raczyli się nimi mieszkańcy Neapolu. Kiedy to w 1889 roku Neapol odwiedziła królowa Włoch Małgorzata Sabaudzka z mężem, to nadworny piekarz przygotował na ich cześć placek zdobiony dodatkami w narodowych barwach: bazylia, mozzarella i pomidory. Tak powstała najprostsza pizza nazwana Margherita - od imienia królowej. Nakładanie na przaśny placek rozmaitych dodatków stało się faktem - jednak warto zauważyć, że Włosi rzadko przekraczają liczbę 3 składników. Kiedyś wynikało to z biedy - na pizzy lądowało mniej składników, bo ich po prostu brakowało. Dziś Włosi  uważają, że tradycja jest w tym wypadku słuszna i nie kładą na pizzy wszystkiego co lodówka dała.



        O wiele później w pizzy zakochali się Amerykanie. Ale oni stworzyli swoją wersję placka „na bogato” - na grubym spodzie i z wieloma dodatkami.<p></div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>

<div class="view intro" style="background-image: url(https://indebuurt.nl/amersfoort/wp-content/uploads/2018/07/pizza.jpg); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>
</div>



<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 text-center my-5">
      <h2 class="h1 font-bold pink-text mb-5">Rodzaje pizzy...</h2>
      <h3>Neapolitana</h3>
      <p align="justify">
        Nie ma nic bardziej włoskiego niż pizza w barwach narodowych. Włosi są wielkimi patriotami i z ogromną dumą
        wplatają zieleń, biel i czerwień również do swoich dań. Jako duma narodowa pizza Neapoli jest znakiem firmowym,
        a składniki i sposób wykonania regulują patenty i oznaczenia jak np. Chronione Oznaczenie Geograficzne.
        Pizzę przyrządza się z pomidorów San Marzano, rosnących na polach wulkanicznych oraz mozzarelli di bufala
        sampana z mleka krów wypasanych na bagnach Campanii i Lazio z dodatkiem liści bazylii. Całość skrapiana jest
        oliwą z oliwek.<p>
    <h3>Bianca</h3>
    <p align="justify">
      Uwielbiana we Włoszech, w Polsce mało popularna pizza. Jej nazwa oznacza białą pizzę. Zamiast sosu pomidorowego,
      jak zazwyczaj, w przypadku tej pizzy sos ma biały kolor. Jest on przygotowywany najczęściej na bazie mleka.
      W Rzymie tą samą nazwą określa się zapieczony chleb z dodatkiem oliwy i soli. Według niektórych przepisach
      powinno dodawać się do niej liście rozmarynu.<p></div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>
