<!-- Footer -->
<footer class="page-footer blue-grey lighten-5">
  <div style="background-color: #c04e44;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Znajdź nas w sieciach społecznościowych!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon icon="facebook" class="white-text mr-4"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <mdb-icon icon="twitter" class="white-text mr-4"></mdb-icon>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <mdb-icon icon="google-plus" class="white-text mr-4"></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <mdb-icon icon="linkedin" class="white-text mr-4"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <mdb-icon icon="instagram" class="white-text mr-4"></mdb-icon>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Rosyjska Pizza sp. z.o.o</h6>
        <hr class="red darken-4 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Założona w 1782 roku rodzinna firma z Opola
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Produkty</h6>
        <hr class="red darken-4 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#">Pizza</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#">Pasty</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#">Własne sosy</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#">Napoje wyskokowe</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Użyteczne linki</h6>
        <hr class="red darken-4 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#">Twoje konto</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#">Zostań naszym partnerem</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#">Reklamacje</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#">Pomoc</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Skontaktuj się z nami</h6>
        <hr class="red darken-4 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <mdb-icon icon="home" class="mr-3"></mdb-icon>Uleska 3, 14-159 Opole
        </p>
        <p>
          <mdb-icon icon="envelope" class="mr-3"></mdb-icon> zjedzunas@pizza.com
        </p>
        <p>
          <mdb-icon icon="phone" class="mr-3"></mdb-icon> + 265 358 979


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
